extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3 

        include ../../partials/list-button-user.pug
        .row 
            .col-12 
                +box-head("Danh sách kết bạn")

        .row(data-user-friend)
            each user in users
                .col-3(user-id=user.id)
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(
                            src=(user.avatar ? user.avatar : "/images/avatar.jfif")
                            alt=user.fullName
                        )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                a(
                                    href=`/chat/${user.roomChatId}`
                                    class="btn btn-primary mr-1"
                                ) Nhắn tin
                        div(
                            class="inner-status"
                            status=user.statusOnline
                        ) <i class="fa-solid fa-circle"></i>
    block script 
        script(type="module" src="/js/users.js") 
                        