extends ../../layouts/default.pug
include ../../mixins/button-status.pug
include ../../mixins/search.pug
include ../../mixins/button-navigation.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort-select.pug
include ../../mixins/moment.pug

block main 

    +alert-success()

    h1 Danh sách sản phẩm

    .card.mb-3
        .card-header
            | Bộ lọc và tìm kiếm 
        .card-body
            .row 
                .col-6
                    +button-status(filterStatus)
                .col-6 
                    +search(keyword)

    
    .card.mb-3
        .card-header Sắp xếp 
        .card-body 
            .row 
                .col-4 
                    +sort-select()


    .card.mb-3 
        .card-header Danh sách 
            .card-body
                .row    
                    .col-8
                        +form-change-multi(prefixAdmin)
                    .col-4 
                        a(
                            href=`${prefixAdmin}/products/create`
                            class="btn btn-outline-success"
                        ) + Thêm mới 
                        
                table(
                    class="table table-hover table-sm table-bordered"
                    checkbox-multi
                )
                    thead
                        tr  
                            th.text-center
                                input(type="checkbox" name="checkall")
                            th.text-center STT 
                            th.text-center Hình ảnh 
                            th.text-center Tiêu đề
                            th.text-center Vị trí
                            th.text-center Trạng thái 
                            th.text-center Người tạo
                            th.text-center Người cập nhật
                            th.text-center Hành động
                    tbody
                        each item, index in products
                            tr
                                td.text-center 
                                     input(type="checkbox" name="id"
                                     value=item.id)
                                td.text-center #{objectPagination.limitProduct * (objectPagination.currentPage - 1) + (index + 1)}
                                td.text-center 
                                    img(
                                        src=item.thumbnail, 
                                        alt=item.title,
                                        width= "100px",
                                        height= "80px"
                                        )
                                td.text-center #{item.title}
                                td.text-center 
                                    input(
                                        type="number"
                                        value=item.position 
                                        style="width: 40px"
                                        name="position"
                                        min=1
                                    )
                                td.text-center 
                                    if(item.status == "active")
                                        a(
                                            href="javascript:;"
                                            data-status="active"
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-success"
                                        ) Hoạt động
                                    else 
                                        a(
                                            href="javascript:;"
                                            data-status="inactive"
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-danger"
                                        ) Dừng hoạt động
                                td.text-center 
                                    p #{item.accountFullName} 
                                    p
                                        +formatDateTime(item.createdBy.createdAt)
                                td.text-center 
                                    - const updatedBy = item.updatedBy[item.updatedBy.length-1];
                                    if(updatedBy)
                                        p #{updatedBy.accountFullName} 
                                        p
                                            +formatDateTime(updatedBy.updatedAt)
                                td.text-center  
                                    a(  
                                        href=`${prefixAdmin}/products/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                        type='button'
                                    ) Chi tiết
                                    a(  
                                        href=`${prefixAdmin}/products/edit/${item.id}`
                                        class="btn btn-danger btn-sm"
                                        type='button'
                                    ) Sửa
                                    button(
                                            class="btn btn-warning btn-sm ml-1"
                                            data-id=item.id
                                            button-delete
                                        ) Xóa

    nav
        +navigation(objectPagination)
    form(  
        action=""
        form-change-status 
        method="POST"  
        path=`${prefixAdmin}/products/change-status`
        ) 

    form(  
        action=""
        form-delete-item
        method="POST"  
        path=`${prefixAdmin}/products/delete`
        ) 

    script(src="/admin/js/products.js")
            
            
            