extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Danh sách tài khoản 

    .card.mb-3 
        .card-header Danh sách 
        .card-body 
            .row 
                .col-8 
                .col-4
                    a(
                        href=`${prefixAdmin}/accounts/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới 
        
            table(
                    class="table table-hover table-sm mt-3 table-bordered"
                )
                    thead
                        tr  
                            th.text-center STT 
                            th.text-center Avatar
                            th.text-center Họ tên
                            th.text-center Phân quyền
                            th.text-center Email
                            th.text-center Trạng thái 
                            th.text-center Hành động
                    tbody
                        each item, index in records
                            tr
                                td.text-center #{index + 1}
                                td.text-center 
                                    img(
                                        src=item.avatar, 
                                        alt="",
                                        width= "100px",
                                        height= "80px"
                                        )
                                td.text-center #{item.fullName}
                                td.text-center #{item.role.title}
                                td.text-center #{item.email}
                                td.text-center
                                    if(item.status == "active")
                                        a(
                                            href="javascript:;"
                                            data-status="active"
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-success"
                                        ) Hoạt động
                                    else 
                                        a(
                                            href="javascript:;"
                                            data-status="inactive"
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-danger"
                                        ) Dừng hoạt động
                                td.text-center  
                                    a(  
                                        href=`${prefixAdmin}/products/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                        type='button'
                                    ) Chi tiết
                                    a(  
                                        href=`${prefixAdmin}/accounts/edit/${item.id}`
                                        class="btn btn-danger btn-sm"
                                        type='button'
                                    ) Sửa
                                    button(
                                            class="btn btn-warning btn-sm ml-1"
                                            data-id=item.id
                                            button-delete
                                        ) Xóa