extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main 
    h1  Cài đặt chung

    +alert-success()
    +alert-error()

    form(
        action=`${prefixAdmin}/setting/general?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="websiteName") Tên website 
            input(
                type="text"
                id="websiteName"
                name="websiteName"
                class="form-control"
                value=(settingGeneral ? settingGeneral.websiteName : "")
            )
        div(class="form-group")
            label(for="logo") Logo
            input(
                type="file"
                class="form-control-file"
                id="logo"
                name="logo"
                accept="image/*"
                choose-img
                )
            img(src=(settingGeneral ? settingGeneral.logo : ""), alt="your-image" preview-img)
            div(remove-preview class="hidden-remove") Bỏ chọn
        div(class="form-group")
            label(for="email") Email
            input(
                type="text"
                id="email"
                name="email"
                class="form-control"
                value=(settingGeneral ? settingGeneral.email : "")
            )

        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                type="text"
                id="phone"
                name="phone"
                class="form-control"
                value=(settingGeneral ? settingGeneral.phone : "")
            )
        div(class="form-group")
            label(for="address") Địa chỉ
            input(
                type="text"
                id="address"
                name="address"
                class="form-control"
                value=(settingGeneral ? settingGeneral.address : "")
            )
        div(class="form-group")
            label(for="copyright") Copyright
            input(
                type="text"
                id="copyright"
                name="copyright"
                class="form-control"
                value=(settingGeneral ? settingGeneral.copyright : "")
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
