extends ../../layouts/default.pug 

block main 
    h1 Phân quyền

    div(data-records=records)

    div
        button(
            type="submit"
            class="btn btn-primary mb-3"
            button-submit
        ) Cập nhật 

    table(
        class="table table-hover table-sm"
        table-permissons
    )
        thead 
            tr
                th Tính năng 
                th(class="text-center") Quản trị viên
                th(class="text-center") Quản trị nội dung
        tbody 
            tr(data-name="id" class=" d-none")
                td
                each item in records 
                    td(class="text-center")
                        input(type="text" value=item.id)
            //- Danh muc san pham
            tr 
                td(colspan="4")
                    b Danh mục sản phẩm 
            tr(data-name="product-category_view")
                td Xem 
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="product-category_create")
                td Thêm mới
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="product-category_edit")
                td Chỉnh sửa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="product-category_deleted")
                td Xóa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            //- San pham
            tr 
                td(colspan="4")
                    b Sản phẩm 
            tr(data-name="product_view")
                td Xem 
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="product_create")
                td Thêm mới
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="product_edit")
                td Chỉnh sửa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="product_deleted")
                td Xóa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            //- Nhom quyen
            tr 
                td(colspan="4")
                    b Nhóm quyền
            tr(data-name="role_view")
                td Xem 
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="role_create")
                td Thêm mới 
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="role_edit")
                td Chỉnh sửa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="role_deleted")
                td Xóa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            //- Tai khoan
            tr 
                td(colspan="4")
                    b Tài khoản
            tr(data-name="account_view")
                td Xem 
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="account_create")
                td Thêm mới 
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="account_edit")
                td Chỉnh sửa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
            tr(data-name="account_deleted")
                td Xóa
                each item in records 
                    td(class="text-center") 
                        input(type="checkbox")
    form(
        id="form-change-permissions"
        method="POST"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
    )
        div(class="form-group")
            input(
                type="text"
                class="form-control d-none"
                name="permissions"
            )
                        
    script(src="/admin/js/role.js") 