extends ../../layouts/auth.pug 
include ../../mixins/alert.pug

block main 
    +alert-error()


    .page-auth           
        .auth-card
            .column
                h1 Đổi lại mật khẩu
                p Bạn nên đặt mật khẩu có độ bảo mật cao!
                form(
                    action=`/user/password/reset`
                    method="POST"
                )   
                    .form-item
                        input(
                            type='password'
                            class="form-element"
                            placeholder='Password'
                            id="password"
                            name="password"
                            required 
                            )
                    .form-item
                        input(
                            type='password' 
                            class="form-element"
                            placeholder='Confirm Password'
                            id="confirmPassword"
                            name="confirmPassword"
                            required
                            )
                    .flex-auth
                        button(type='submit') Đổi mật khẩu
            .column
                h2 Xin chào bạn!
                p Nếu bạn đã có tài khoản, bạn có thể đăng nhập!
                a(href='/user/login') Đăng nhập